nfelib/mdfe/wsdl/v3_0/mdfeconsnaoenc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsNaoEnc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsNaoEnc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsNaoEnc">
      <s:element name="mdfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeConsNaoEncResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeCabecMsg" type="tns:mdfeCabecMsg" />
      <s:complexType name="mdfeCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mdfeConsNaoEncSoap12In">
    <wsdl:part name="mdfeDadosMsg" element="tns:mdfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="mdfeConsNaoEncSoap12Out">
    <wsdl:part name="mdfeConsNaoEncResult" element="tns:mdfeConsNaoEncResult" />
  </wsdl:message>
  <wsdl:message name="mdfeConsNaoEncmdfeCabecMsg">
    <wsdl:part name="mdfeCabecMsg" element="tns:mdfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="MDFeConsNaoEncSoap12">
    <wsdl:operation name="mdfeConsNaoEnc">
      <wsdl:input message="tns:mdfeConsNaoEncSoap12In" />
      <wsdl:output message="tns:mdfeConsNaoEncSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDFeConsNaoEncSoap12" type="tns:MDFeConsNaoEncSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mdfeConsNaoEnc">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsNaoEnc/mdfeConsNaoEnc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeConsNaoEncmdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeConsNaoEncmdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDFeConsNaoEnc">
    <wsdl:port name="MDFeConsNaoEncSoap12" binding="tns:MDFeConsNaoEncSoap12">
      <soap12:address location="https://mdfe.svrs.rs.gov.br/ws/MDFeConsNaoEnc/MDFeConsNaoEnc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>