nfelib/mdfe/wsdl/v3_0/mdfeconsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta">
      <s:element name="mdfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeConsultaMDFResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mdfeCabecMsg" type="tns:mdfeCabecMsg" />
      <s:complexType name="mdfeCabecMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cUF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="versaoDados" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mdfeConsultaMDFSoap12In">
    <wsdl:part name="mdfeDadosMsg" element="tns:mdfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="mdfeConsultaMDFSoap12Out">
    <wsdl:part name="mdfeConsultaMDFResult" element="tns:mdfeConsultaMDFResult" />
  </wsdl:message>
  <wsdl:message name="mdfeConsultaMDFmdfeCabecMsg">
    <wsdl:part name="mdfeCabecMsg" element="tns:mdfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="MDFeConsultaSoap12">
    <wsdl:operation name="mdfeConsultaMDF">
      <wsdl:input message="tns:mdfeConsultaMDFSoap12In" />
      <wsdl:output message="tns:mdfeConsultaMDFSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDFeConsultaSoap12" type="tns:MDFeConsultaSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mdfeConsultaMDF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/mdfe/wsdl/MDFeConsulta/mdfeConsultaMDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeConsultaMDFmdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:mdfeConsultaMDFmdfeCabecMsg" part="mdfeCabecMsg" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDFeConsulta">
    <wsdl:port name="MDFeConsultaSoap12" binding="tns:MDFeConsultaSoap12">
      <soap12:address location="https://mdfe.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>