nfelib/nfe/wsdl/v4_0/nfeautorizacao4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeResultMsg" nillable="true">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeMonitoria" type="tns:nfeMonitoria" />
      <s:complexType name="nfeMonitoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nomeServidor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dhServidor" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="nfeDadosMsgZip" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeAutorizacaoLoteSoapIn">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="nfeAutorizacaoLoteSoapOut">
    <wsdl:part name="nfeAutorizacaoLoteResult" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="nfeAutorizacaoLotenfeMonitoria">
    <wsdl:part name="nfeMonitoria" element="tns:nfeMonitoria" />
  </wsdl:message>
  <wsdl:message name="nfeAutorizacaoLoteZipSoapIn">
    <wsdl:part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip" />
  </wsdl:message>
  <wsdl:message name="nfeAutorizacaoLoteZipSoapOut">
    <wsdl:part name="nfeAutorizacaoLoteZipResult" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:message name="nfeAutorizacaoLoteZipnfeMonitoria">
    <wsdl:part name="nfeMonitoria" element="tns:nfeMonitoria" />
  </wsdl:message>
  <wsdl:portType name="NFeAutorizacao4Soap">
    <wsdl:operation name="nfeAutorizacaoLote">
      <wsdl:input message="tns:nfeAutorizacaoLoteSoapIn" />
      <wsdl:output message="tns:nfeAutorizacaoLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nfeAutorizacaoLoteZip">
      <wsdl:input message="tns:nfeAutorizacaoLoteZipSoapIn" />
      <wsdl:output message="tns:nfeAutorizacaoLoteZipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeAutorizacao4Soap" type="tns:NFeAutorizacao4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeAutorizacaoLote">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:nfeAutorizacaoLotenfeMonitoria" part="nfeMonitoria" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nfeAutorizacaoLoteZip">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:nfeAutorizacaoLoteZipnfeMonitoria" part="nfeMonitoria" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NFeAutorizacao4Soap12" type="tns:NFeAutorizacao4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:nfeAutorizacaoLotenfeMonitoria" part="nfeMonitoria" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nfeAutorizacaoLoteZip">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeAutorizacao4/nfeAutorizacaoLoteZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:nfeAutorizacaoLoteZipnfeMonitoria" part="nfeMonitoria" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeAutorizacao4">
    <wsdl:port name="NFeAutorizacao4Soap" binding="tns:NFeAutorizacao4Soap">
      <soap:address location="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" />
    </wsdl:port>
    <wsdl:port name="NFeAutorizacao4Soap12" binding="tns:NFeAutorizacao4Soap12">
      <soap12:address location="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>