nfelib/cte/wsdl/v4_0/ctedistribuicaodfe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeDistribuicaoDFe" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeDistribuicaoDFe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeDistribuicaoDFe">
      <s:element name="cteDistDFeInteresse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cteDadosMsg">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteDistDFeInteresseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cteDistDFeInteresseResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteDistDFeInteresseSoapIn">
    <wsdl:part name="parameters" element="tns:cteDistDFeInteresse" />
  </wsdl:message>
  <wsdl:message name="cteDistDFeInteresseSoapOut">
    <wsdl:part name="parameters" element="tns:cteDistDFeInteresseResponse" />
  </wsdl:message>
  <wsdl:portType name="CTeDistribuicaoDFeSoap">
    <wsdl:operation name="cteDistDFeInteresse">
      <wsdl:input message="tns:cteDistDFeInteresseSoapIn" />
      <wsdl:output message="tns:cteDistDFeInteresseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CTeDistribuicaoDFeSoap" type="tns:CTeDistribuicaoDFeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteDistDFeInteresse">
      <soap:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeDistribuicaoDFe/cteDistDFeInteresse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CTeDistribuicaoDFeSoap12" type="tns:CTeDistribuicaoDFeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteDistDFeInteresse">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeDistribuicaoDFe/cteDistDFeInteresse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTeDistribuicaoDFe">
    <wsdl:port name="CTeDistribuicaoDFeSoap" binding="tns:CTeDistribuicaoDFeSoap">
      <soap:address location="https://www1.cte.fazenda.gov.br/CTeDistribuicaoDFe/CTeDistribuicaoDFe.asmx" />
    </wsdl:port>
    <wsdl:port name="CTeDistribuicaoDFeSoap12" binding="tns:CTeDistribuicaoDFeSoap12">
      <soap12:address location="https://www1.cte.fazenda.gov.br/CTeDistribuicaoDFe/CTeDistribuicaoDFe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
