nfelib/cte/wsdl/v4_0/cterecepcaoeventov4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoEventoV4" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoEventoV4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoEventoV4">
      <s:element name="cteDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cteRecepcaoEventoResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cteRecepcaoEventoSoap12In">
    <wsdl:part name="cteDadosMsg" element="tns:cteDadosMsg" />
  </wsdl:message>
  <wsdl:message name="cteRecepcaoEventoSoap12Out">
    <wsdl:part name="cteRecepcaoEventoResult" element="tns:cteRecepcaoEventoResult" />
  </wsdl:message>
  <wsdl:portType name="CTeRecepcaoEventoV4Soap12">
    <wsdl:operation name="cteRecepcaoEvento">
      <wsdl:input message="tns:cteRecepcaoEventoSoap12In" />
      <wsdl:output message="tns:cteRecepcaoEventoSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CTeRecepcaoEventoV4Soap12" type="tns:CTeRecepcaoEventoV4Soap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cteRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/cte/wsdl/CTeRecepcaoEventoV4/cteRecepcaoEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTeRecepcaoEventoV4">
    <wsdl:port name="CTeRecepcaoEventoV4Soap12" binding="tns:CTeRecepcaoEventoV4Soap12">
      <soap12:address location="https://cte.svrs.rs.gov.br/ws/CTeRecepcaoEventoV4/CTeRecepcaoEventoV4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>